@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

h1 {font-size: 2em; font-weight: 600;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}

.low-usage { color: green; }
.medium-usage { color: black; }
.high-usage { color: red; }
